@import url('https://fonts.google.apis.com/css2?family=Lato');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

*{
    letter-spacing: 1px;
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

:root{
    --color-dark1: #181818;
    --color-dark2: #a4a4a4;
    --color-header2: #f9f9f9;
    --color-red1: #e52b4b;
    --color-footer: #ede6d6;
    --color-white: #ffffff;
    --color-blue1: #007bff;
    --color-blue2: #0056b3;
    /*--color-header1: #d3d3d3;
    --color-header2: #f2f2f2;
    --color-header3: #e8f0ff;*/
}

body{
    background-color: var(--color-white);
    height: 100vh;
}

header{
    font-weight: normal;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    padding: .5rem 1rem;
    min-height: 50px;
    background-color: var(--color-header2);
    border-bottom: 1px solid var(--color-blue1);
    opacity: 0.9;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.box-img-header{
    margin-left: -4%;
    height: 100%;
}

.img-logo{
    max-width: 170px;
    height: 100%;
}

nav{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.nav-links{
    font-size: 17px;
    text-decoration: none;
    color: var(--color-dark1);
    font-weight: 400;
    transition: color 0.3s ease;
}

.nav-links:hover{
    color: var(--color-blue1);
}

.btn-action-ref, .btn-action-ref1{
    font-size: 14px;
    text-decoration: none;
    color: var(--color-dark1);
}

.btn-action-ref:hover{
    color: var(--color-blue2);
    transition: .4s;
}

.btn-action-ref1{
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--color-blue1);
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: -7rem;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.btn-action-ref1:hover{
    background-color: var(--color-blue2);
}

footer{
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}