@import url('https://fonts.google.apis.com/css2?family=Lato');

*{
    letter-spacing: 1px;
    font-family: 'Lato';
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

:root{
    --color-dark1: #181818;
    --color-red1: #e52b4b;
    --color-header: #fce16b;
    --color-letters-header: #696969;
    --color-footer: #ede6d6;
    --color-white: #ffffff;
}

body{
    background-color: var(--color-white);
    height: 100vh;
}

header{
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid var(--color-dark1);
    align-items: center;
    gap: 1rem;
    padding: .8rem;
    min-height: 60px;
    background-color: var(--color-header);
}

.box-img-header{
    margin-left: -4%;
    height: 100%;
}

.img-logo{
    max-width: 170px;
    height: 100%;
}

nav{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.nav-links{
    font-size: 22px;
    text-decoration: none;
    color: var(--color-white);
}

.nav-links:hover{
    color: var(--color-dark1);
    transition: .4s;
}

.nav-links:not(:hover){
    color: var(--color-white);
    transition: .4s;
}

.btn-action-ref, .btn-action-ref1{
    font-size: 18px;
    text-decoration: none;
    color: var(--color-white);
}

.btn-action-ref1{
    margin-left: -7rem;
}

.btn-action-ref:hover, .btn-action-ref1:hover{
    color: var(--color-dark1);
    transition: .4s;
}

.btn-action-ref:not(:hover), .btn-action-ref1:not(:hover){
    color: var(--color-white);
    transition: .4s;
}