/* DESIGN DA PÁGINA DE CADA LIVRO */

.livro-detalhes{
    display: flex;
    gap: 40px;
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    position: relative;
}

.livro-detalhes img{
    width: 400px;
    height: auto;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}